.shadow{
    /* box-shadow: 0 4px 8px 0 #2A1B3D, 0 6px 20px 0 #2A1B3D; */
    background-color: #2A1B3D;
}
a{
    text-decoration: none;
    color:white;
    padding:2%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
a:hover{
    text-decoration:none;
    color:black;
    padding-top:2.8%;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.login-button{
    border:1px cyan;
    margin-left:50%;
    padding:2%;
    background-color: #8860D0;
    color:white;
    transition: 0.3s;
}
.login-button:hover{
    padding-top:4%;
    border-color: 1px solid white;
    background-color: white;
    color:black;
    transition: 0.3s;
}