.shadow{
    /* box-shadow: 0 4px 8px 0 #2A1B3D, 0 6px 20px 0 #2A1B3D; */
    background-color: #2A1B3D;
}
a{
    text-decoration: none;
    color:white;
    padding:2%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: #182d4e;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.dropdown-menu>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: #b40000;
}
a{
    color: white;
}
a:focus{
    color: white;
    background-color: #b40000;
}
a::after{
    color: white;
    background-color: #b40000;
}
.navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #b40000;
}
.logo {
    width: 10vw;
    margin-left: -17%;
    background-size: cover;
    height: 6vh;
    margin-top: 2.5%;
    background-image: url('../../../assets/logo3.png');
}
/* .user{
    width: 10vw;
    background-size: cover;
    height: 6vh;
    background-image: url('../../../assets/user.png');
} */
/* a:hover{
    text-decoration:none;
    color:black;
    padding-top:2.8%;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
} */
.login-button{
    border:1px cyan;
    margin-left:50%;
    padding:2%;
    background-color: #8860D0;
    color:white;
    transition: 0.3s;
}
.login-button:hover{
    padding-top:4%;
    border-color: 1px solid white;
    background-color: white;
    color:black;
    transition: 0.3s;
}