.booking-card{
    float: right;
    margin-top: 10%;
    margin-right: 4%;
    width: 90%;
}
.book-bus-home {  
    height:100vh;
    background-image:url('https://st.redbus.in/bo-images/IND/WM/10100/1087/FR/L/VKOJX6.jpeg');
    /* background-image: url('https://besthqwallpapers.com/Uploads/6-12-2019/114416/thumb2-scania-interlink-hd-4k-studio-2019-buses-passenger-transport.jpg'); */
    background-size: cover;
}   
.description{
    margin-top: 7%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 1.4;
}
.mat-form-field {
    padding: 4%;
}
.nav-menus{
    padding:2%;
}
  
  @media (min-width: 768px) {
    .button-71 {
      padding: 16px 48px;
    }
  }