.booking-card{
    float: right;
    margin-top: 10%;
    margin-right: 4%;
    width: 90%;
    box-shadow: -3px 3px 3px 7px #cbeae4 !important;
}
.book-bus-home {  
    height:100vh;
    background-image:url('../../../assets/homeback.png');
    /* background-image: url('https://besthqwallpapers.com/Uploads/6-12-2019/114416/thumb2-scania-interlink-hd-4k-studio-2019-buses-passenger-transport.jpg'); */
    background-size: cover;
}
.headtext{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #182d4e;
  border-radius: 40% 0% 40% 0%;
}
.secondpage{
  height:100vh;
    background-image:url('../../../assets/second.png');
    background-size: cover;
}
.thirdpage{
  height:100vh;
    background-image:url('../../../assets/footer.png');
    background-size: cover;
}
.description{
    margin-top: 7%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 1.4;
}
.mat-form-field {
  padding: 3%;
  width: 50%;
}
.nav-menus{
    padding:2%;
}
  
  @media (min-width: 768px) {
    .button-71 {
      padding: 16px 48px;
    }
  }