.top-card {
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    width: 90%;
    height: 73%;
    overflow: auto;
}

.com-font {
    font-size: 17.5px;
}

.from-city {
    width: 50%;
    height: 5vh;
}

.to-city {
    float: right;
}

.city-div {
    margin-top: 0.5%;
}

.bus-name {
    text-align: center;
    background-color: #E98074;
    color: white;
}

.book-button {
    margin-left: 50%;
}

.tripdata {
    width: 50%;
    float: left;
    margin-top: 0%;
    padding: 1%;
}

.main {
    height: 81vh;
}