.top-card {
    float: left;
    margin-left: 13%;
    margin-top: 7%;
    width: 76%;
}

.com-font {
    font-size: 17.5px;
}

.from-city {
    width: 50%;
    height: 5vh;
}

.to-city {
    float: right;
}

.city-div {
    margin-top: 0.5%;
}

.bus-name {
    text-align: center;
    background-color: #E98074;
    color: white;
}

.book-button {
    margin-left: 50%;
}