<div>
    <div class="top-card com-font">
        <div>
            <span>Avaliable Buses</span>
            <mat-card>
                <mat-card-content class="com-font bus-name">Bus Name</mat-card-content>
                <div>
                    <label>Date:01/01/0001</label>
                </div>
                <div class="city-div">
                    <label class="from-city">Pune</label>
                    <label>----to----</label>
                    <label class="to-city">Delhi</label>
                </div>
                <div>
                    <label class="from-city">Avaliable Seats - 40</label>
                    <span class="to-city">4200-Rs</span>
                </div>
                <div>
                    <button class="book-button">Book</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>